<!DOCTYPE html>
<html>
<head>
<title>Log In</title>
<script type="text/javascript" src="../libs/jquery-2.1.4/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../libs/bootstrap-3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="../css/common.css"></link>
<link rel="stylesheet" href="../css/login.css"></link>
<script type="text/javascript">

$(document).on("click", "#submit_button", function() {
	

 	var username =  $('#username').val();
 	var password =  $('#password').val();
 	//alert(username);
 	//alert(password);
	var data = {};
	data["username"] = "Banzhao";
	data["locationName"] = "公园";
 	
 	$.ajax({
 		type:"POST",
 		contentType: "application/json",
 		url:"/getItemList/wanted",
 	    data: JSON.stringify(data),
 	    dataType: 'json',
		success : function(data) {
			console.log("SUCCESS: ", data);
		},
		error : function(e) {
			console.log("ERROR: ", e);
		},
		done : function(e) {
			console.log("DONE");
		}
 	}) 	
 	/*
 	var JsonArray = JSON.stringify([    
 	                               {username: "Banzhao", locationName: "公园"}, 
 	                          ]);  
 	alert("send:"+JsonArray);
 	
 	$.ajax({
 		type:"POST",
 		contentType : 'application/json',
 		url:"/passObjectArray",
 		dataType:"json",
 		data:JsonArray,
 	    success : function(data) {  
 	  		console.log(data);
 	     },  
 	    error : function() {  
      		alert('Err...');  
 	    }
 	}); */
 	                
});

</script>
</head>


<body>
	<div class="panel panel-default action-panel">
		<div class="panel-heading">Login</div>
		<div class="panel-body">
			
				<div class="input-field-group">
					<div class="input-label ">Username</div>
					<input class="input-field" id="username"  type="text" />
				</div>
				<div class="input-field-group password">
					<div class="input-label  password-label">Password</div>
					<input class="input-field" id="password" type="password"/>
				</div>
				<div class="input-label error hidden"></div>
				<input class="btn btn-xlarge  login" id="submit_button" type="submit"/>
	
		</div>
	</div>
</body>
</html>