<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="../libs/jquery-2.1.4/jquery-2.1.4.min.js"></script>
<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script type="text/javascript" src="../libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular-animate.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/mainpage.css"></link>
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css"></link>
<link rel="stylesheet" href="../css/item.css"></link>
<link rel="stylesheet" href="../libs/bootstrap-3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="../css/common.css"></link>



  
</head>

<body ng-app="ngRouteExample" >
  
  <div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
        <div class="row-fluid">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <a class="navbar-brand" href="#">随评</a>
				</div>
				<div>
					<div class="navbar-form navbar-left" role="search">
						<div class="form-group">
						  	<input type="text" class="form-control search-query" placeholder="Search" id="MainSearchInput">
						</div>
						<button type="submit" class="btn btn-default" ><a href="#/item" onclick="MainSearch()">搜索</a></button>
					</div>    
					<div>
					  	<ul class="nav navbar-nav pull-right">
					      	<li >
					            <a class="dropdown-toggle"  href="#/item">
					             	  菜单 
					               
					            </a>
	
					        </li>
					    </ul>
	                </div>
				</div>
			</nav>
		</div>
		<div class="panel panel-primary nav nav-pills" id="layerpanel">
			<div class="panel-heading" >
      			<h3 class="panel-title">
         			图层
      			</h3>
   			</div>
   			<div class="panel-body" id="panel-body">
	   		</div>
   		</div>
   			<div class="panel panel-primary nav nav-pills floatpanel"
					id="floatBox">
					<!--  <div class="panel-heading" id="canbeDelete1">
						<h3 class="panel-title">景点名称</h3>
						<li class="pull-right switch"><a href="#/home" id="backtomap"></a>
						</li>
					</div>
					<div class="panel-body"  id="canbeDelete2">
						<ul class="nav nav-list list-unstyled" style="width: 300px;">
							<li>评分：<span>90</span></li>
							<li class="nav-header">照片</li>
							<li><img src="/imgs/bg.png"
								class="img-rounded img-responsive"></li>
							<li class="text-center"><a href="/iteminfo" onclick="function(){ nowItem=pointList[clickMakerIndex]["id"];}">详细页面</a></li>
						</ul>
					</div> --> 
					
		</div>
            <div class = "" id="map" style="positon:fixed">
               <!--  <img src="../imgs/bg.png" class="img-rounded"> -->
            </div>
            <div
					class="panel panel-default navbar-fixed-bottom col-xs-10 col-md-offset-1"
					id="anmul">
					<ul class="nav nav-pills">
						<li class="pull-left"><a id="hidebottomnav">隐藏</a></li>
						<li class="switch"><a href="#/item" onclick="SearchEmpty()">项目列表</a></li>
						<li class="switch"><a href="#/nearby">附近</a></li>
						<li class="switch"><a href="#/searchhistory">搜索历史</a></li>
						<li class="switch"><a href="#/routing">路线规划</a></li>
						<li class="switch"><a href="#/mine">我的</a></li>
						<li class="pull-right switch"><a href="#/home" id="backtomap">回到地图</a>
						</li>

					</ul>
				</div>

            <div ng-view="" class = " row-fluid col-xs-10 col-md-offset-1 tab-content" id="contentpanal" style="top:-1000px">
    		</div>

    	</div>

  </div>
  <div> <input type="button" id="result" value="查询"/> </div>
</div>
<script type="text/javascript" src="../js/baidumapapi.js" > </script> 
<script type="text/javascript">
var curPage = 0; 
var pageOn = 0;
var bottomNavOn = true;
var inputSearch = "";

//edit by SONGHAOLUN -------------------------------------------------------------------------------------------------------------------------------------
var nowItem = 0;
//edit by SONGHAOLUN -------------------------------------------------------------------------------------------------------------------------------------
angular.module('ngRouteExample', ['ngRoute'])
.controller('HomeController', function ($scope) {curPage = 0})
.controller('ItemListController', function ($scope) {curPage = 1})
.controller('NearbyController', function ($scope) {curPage = 2})
.controller('SearchHistoryController', function ($scope) {curPage = 3})
.controller('RoutingController', function ($scope) {
	$("#submitFindWay").on("click",function() {
		//alert($("#fromInput").val()+$("#toInput").val());
		var start=$("#fromInput").val();
		var end=$("#toInput").val();
		findTheWay(start,end);
	});
	curPage = 4;
	})
.controller('MineController', function ($scope) {curPage = 5})
.controller('detailController', function ($scope) {curPage = 7})
.controller('CommentController', function ($scope) {
	curPage = 6;
	$("#lis2").hide();
	$("#lis3").hide();
	$("#switch1").click(function(){
		$("#lis1").show();
		$("#lis2").hide();
		$("#lis3").hide();
	});
	$("#switch2").click(function(){
		$("#lis2").show();
		$("#lis1").hide();
		$("#lis3").hide();
	});
	$("#switch3").click(function(){
		$("#lis3").show();
		$("#lis1").hide();
		$("#lis2").hide();
	});
;})
//edit by SONGHAOLUN -------------------------------------------------------------------------------------------------------------------------------------

.controller('ItemInfoController',function ($scope, $location){
	curPage = 8;
	console.log("in Controller nowItem: "+nowItem);
})

.controller('listController',function ($scope, $location){
	curPage = 10;

})
.controller('wantedController',function ($scope, $location){
	curPage = 11;

})
.controller('footstepController',function ($scope, $location){
	curPage = 12;

})

//edit by SONGHAOLUN -------------------------------------------------------------------------------------------------------------------------------------

//edit by XUZHELUN -------------------------------------------------------------------------------------------------------------------------------------
.controller('toThereController',function ($scope, $location){
	curPage = 8;
	showTOThereMap();
})
//edit by XUZHELUN -------------------------------------------------------------------------------------------------------------------------------------





.config(function ($routeProvider) {
    $routeProvider.
    when('/home', {
        //template: 'hehehe',
        controller: 'HomeController'
    }).
    when('/item', {
        templateUrl: '/templates/htmls/item.html',
        controller: 'ItemListController'
    }).
    when('/nearby', {
        templateUrl: '/templates/htmls/Nearby.html',
        controller: 'NearbyController'
    }).
    when('/searchhistory', {
        templateUrl: '/templates/htmls/searchhistory.html',
        controller: 'SearchHistoryController'
    }).
    when('/routing', {
        templateUrl: '/templates/htmls/Routing.html',
        controller: 'RoutingController'
    }).
    when('/mine', {
        templateUrl: '/templates/htmls/Mine.html',
        controller: 'MineController'
    }).
    when('/detail', {
        templateUrl: '/templates/htmls/detail.html',
        controller: 'detailController'
    }).
    when('/comment', {
        templateUrl: '/templates/htmls/comment.html',
        controller: 'CommentController'
    }).							
    //edit by SONGHAOLUN -----------------------------------------------------------------------------------------------------------------------------------
    when('/iteminfo', {
        templateUrl: '/templates/htmls/iteminfo.html',
        controller: 'ItemInfoController'
    }).
  	//edit by SONGHAOLUN -------------------------------------------------------------------------------------------------------------------------------------
     	//edit by XUZHELUN -------------------------------------------------------------------------------------------------------------------------------------
  	 when('/toThere', {
        //template: 'hehehe',
        template: 'hehehe',
        controller: 'toThereController'
    }).
  //edit by XUZHELUN -------------------------------------------------------------------------------------------------------------------------------------
  		when('/list', {
        //template: 'hehehe',
        templateUrl: '/templates/htmls/list.html',
        controller: 'listController'
    }).
    when('/wanted_list', {
        //template: 'hehehe',
        templateUrl: '/templates/htmls/wanted.html',
        controller: 'wantedController'
    }).
    
    when('/footstep_list', {
        //template: 'hehehe',
        templateUrl: '/templates/htmls/footstep.html',
        controller: 'footstepController'
    }).
  	
  	otherwise({
        redirectTo: '/home'
    });
});


function MainSearch(){
	inputSearch=$("#MainSearchInput").val();
	console.log("Search to item.html by key : "+inputSearch);
}
function SearchEmpty(){
	inputSearch="";
	console.log("Goto item with no search key");
}


$(document).ready(function(){
	
	
	function MainSearch(){
		inputSearch=$("#MainSearchInput").val();
		
		
	}
	
	
	  $("#backtomap").click(function(){
	    $("#contentpanal").fadeOut();
	    pageOn = 0;
	  });
	  $("#layerpanel").draggable();
	  $("#hidebottomnav").click(function(){
		  if (bottomNavOn){
		  $(".switch").hide();
		   $("#anmul").animate({
			    width:'92px'
			});
		   $("#hidebottomnav").html("显示");
		   bottomNavOn=false;
	  		}else{
	  			 $("#anmul").animate({
		 			    width:'83.3%'
		 			},function(){
		 				$(".switch").show();
		 	 		   $("#hidebottomnav").html("隐藏");
		 	 		  bottomNavOn=true;
		 			});	
	  		}
		});
	});
</script>

</body>
</html>