<link rel="stylesheet" href="../css/item.css"></link>
<link rel="stylesheet" href="../css/iteminfo.css"></link>
<link rel="stylesheet" href="../css/comment.css"></link>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css"></link>
<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>	
<script type="text/javascript">
var kind = 1;
down=false;
var x,y,imgID;
var str="";

var SEND = JSON.stringify({"itemId": nowItem});   

showMapImage(nowItem);

function showMapImage(itemid_m){
	$("#commentmap").attr("src","/getItemImage/"+itemid_m);
}

console.log("there itemid is :"+nowItem);


$.ajax({
		type:"POST",
		contentType : 'application/json',
		url:"/getItemById/"+nowItem,
		dataType:"json",
		data:SEND,
	    success : function(data) {  
	  		console.log(data);
	  		GET=data;
	  		
	  		$("#itemname a").html(GET["name"]);
	  		
	     },  
	    error : function() {  
  		
	    }
	});




receiveTags();




$("#pointdiv button").click(function(){
	var curbutton = $(this);
	var type = $(this).parent().index();
	$("#pointdiv").append("<div class='dragpoint text-center pointtype"+kind+"' style='position:absolute;top:"+($("#commentmap").position().top)+"px;left:"+($("#commentmap").position().left)+"px;border-radius: 50px;height:33px;width:33px;background-color:"+$(this).css('background-color')+";'><div style='color:white;line-height:35px'>"+$(this).html().substr(0,2)+"</div></div>");
	$(".dragpoint").draggable({
		stop: function(){	
			var top = $(this).position().top-$("#commentmap").position().top+16;
			var left = $(this).position().left-$("#commentmap").position().left+16;
			//上传
			if(top>0&&top<$("#commentmap").height()&&left>0&&left<$("#commentmap").width()){
				if (curbutton.attr("id")=="addwordtag"){
					sendTag($("#facilityinput").val(),4,kind,left,top);
					$("#pointdiv").append("<div class='text-center pointtype"+kind+"' style='position:absolute;top:"+($(this).position().top+6)+"px;left:"+($(this).position().left+6)+"px;border-radius: 50px;height:20px;width:20px;background-color:"+$(this).css('background-color')+";opacity:0.8;'><div style='color:black;line-height:35px'>"+$("#facilityinput").val()+"</div></div>");
				}else{
					sendTag("",type,kind,left,top);
					$("#pointdiv").append("<div class='text-center pointtype"+kind+"' style='position:absolute;top:"+($(this).position().top+6)+"px;left:"+($(this).position().left+6)+"px;border-radius: 50px;height:20px;width:20px;background-color:"+$(this).css('background-color')+";opacity:0.8;'><div style='color:white;line-height:35px'></div></div>");

				}
			}else{
				
			}
			$(this).remove();
		}
	});
});

$("#lis2").hide();
$("#lis3").hide();
$("#switch1").click(function() {
	$("#lis1").show();
	$("#lis2").hide();
	$("#lis3").hide();
	kind = 1;
	$(".pointtype1").show();
	$(".pointtype2").hide();
	$(".pointtype3").hide();
});
$("#switch2").click(function() {
	$("#lis2").show();
	$("#lis1").hide();
	$("#lis3").hide();
	kind = 2;
	$(".pointtype1").hide();
	$(".pointtype2").show();
	$(".pointtype3").hide();
});
$("#switch3").click(function() {
	$("#lis3").show();
	$("#lis1").hide();
	$("#lis2").hide();
	kind = 3;
	$(".pointtype1").hide();
	$(".pointtype2").hide();
	$(".pointtype3").show();
});

function sendTag(tag,type,kind,left,top) {
	console.log(tag+" "+type+" "+kind+" "+left+" "+top);
	
	 var data = {};
	 data["tag"] = tag;
	 data["type"] = type;
	 data["kind"] = kind;
	 data["left"] = left;
	 data["top"] = top;
	 data["itemid"] = nowItem;
	 
	/*var JsonSEND = JSON.stringify(  {"tag":tag},
									{"type":type},
	                                {"kind":kind},
	                                {"left":left},
	                                {"top":top},
	                                {"itemid":nowItem}
	                               );  */
 	$.ajax({
 		type:"POST",
 		contentType : 'application/json',
 		url:"sendTag",
 		dataType:"json",
 		data:JSON.stringify(data),
 	    success : function(data) {  
 	  		console.log("succeed");
 	  	},  
 	    error : function() {  
      		alert('Err...');  
 	    }
 	});
}

function receiveTags() {
	var JsonSEND = JSON.stringify({}); 
 	$.ajax({
 		type:"POST",
 		contentType : 'application/json',
 		url:"receiveTags/"+nowItem,
 		dataType:"json",
 		data:JsonSEND,
 	    success : function(data) {  
 	  		console.log(data);
 	  		var JsonGET=data;
 		   /*var itemList=new Array();
 			 for(var i=0,l=JsonGET.length;i<l;i++){  
 			 	   var tmp={};
 			 	   tmp["comment"]=JsonGET[i]["comment"];
 			 	   tmp["type"]=JsonGET[i]["type"];	
 			 	   tmp["kind"]=JsonGET[i]["kind"];
 			 	   tmp["left"]=JsonGET[i]["left"];	
 			 	   tmp["top"]=JsonGET[i]["top"];	
 			 	   itemList.push(tmp); 			 	   
 			 	 }*/
 			setTags(JsonGET);
 	     },  
 	    error : function() {  
      		alert('Err...');  
 	    }
 	});
}

function setTags(tags){
	for (var i=0;i<tags.length;i++){
		$("#pointdiv").append("<div class='text-center pointtype"+tags[i]["kind"]+"' style='position:absolute;top:"+($("#commentmap").position().top-6+tags[i]["top"])+"px;left:"+($("#commentmap").position().left-6+tags[i]["left"])+"px;border-radius: 50px;height:20px;width:20px;background-color:"+$("#pointdiv ul:eq(0) li:eq("+tags[i]["type"]+") button").css('background-color')+";opacity:0.8;'><div style='color:black;line-height:35px' class='text-center'>"+tags[i]["tag"]+" "+tags[i]["type"]+"</div></div>");
	}
	$(".pointtype1").show();
	$(".pointtype2").hide();
	$(".pointtype3").hide();
}

$("#facilityinput").bind('input propertychange', function() {  
	if($(this).val()==""){
    	$("#addwordtag").attr("disabled",true);
    }else{
    	$("#addwordtag").attr("disabled",false);
    }
}); 

$("#QuestionSubmit").click(function(){
				var JSEND={};
				var JSEND2={};
				JSEND["itemid"]=nowItem;
				JSEND2["itemid"]=nowItem;
				var select_Q=$("#QuestionTrue").val();
				console.log(select_Q);
				if (select_Q=="option1"){
					JSEND["select"]="该景点分类是否正确 is 是!";
				}else{
				JSEND["select"]="该景点分类是否正确 is 否!";
				}
			
				
								
				
				//To BE CO
				console.log("SEND QUESTION :");
				console.log(JSEND);
				$.ajax({
			 		type:"POST",
			 		contentType : 'application/json',
			 		url:"/addQuestion",
			 		dataType:"json",
			 		data:JSON.stringify(JSEND),
			 	    success : function(data) {  
			 	  		console.log("succeed");
			 	  	},  
			 	    error : function() {  
			      		//alert('Err...');  
			 	    }
			 	});
				
			
			}	
		);



</script>

<div class="panel panel-default" id="itemdiv">
	<nav class="navbar navbar-default" role="navigation">
		<div>
			<p class="navbar-text">随评</p>
		</div>
		<div class="navbar-header" id="itemname">
			<a class="navbar-brand">许哲纶</a>
		</div>
		<div>
			<ul class="nav navbar-nav pull-right">
				<li><a id="switch1">活动类型</a></li>
				<li><a id="switch2">场景类型</a></li>
				<li><a id="switch3">建议</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown"> 调查问卷 <b class="caret"></b>
				</a>
					<div class="dropdown-menu" style="padding: 20px; width: 500px">
						<div class="form-group">
							<label for="name">请问该景点分类是否正确</label>
							<div id="QuestionBar">
								<label class="checkbox-inline"> <input type="radio"
									name="optionsRadios"  value="option1"
									checked id="QuestionTrue"> 是
								</label> <label class="checkbox-inline"> <input type="radio"
									name="optionsRadios" id="optionsRadios2" value="option2"
									checked> 否
								</label>
							</div>
							
							<button type="submit" class="btn btn-default" id="QuestionSubmit"
								style="margin-top: 10px">提交</button>
						</div>
					</div></li>
			</ul>
		</div>
	</nav>
	
	<div class="alert alert-info" style="margin-top:10px">
			<h4>
				提示
			</h4>点击下方的按钮生成锚点，将锚点拖动到地图上，拖动锚点到地图外以删除当前锚点。
	</div>

	<div class="container-fluid" style="margin-bottom: 50px">
		<div class="row-fluid well">
			<div class="span12">
			<div style="margin-bottom:15px" id="pointdiv">
			<ul class="list-unstyled list-inline lis" id="lis1">
				<li class="text-center">
					<button type="button" class="btn btn-primary btn-block">运动</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-success btn-block">健身</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-info btn-block">交往</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-warning btn-block">观赏</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-danger btn-block">休憩</button>
				</li>
			</ul>
			<ul class="list-unstyled list-inline lis" id="lis2">
				<li class="text-center">
					<button type="button" class="btn btn-primary btn-block">亲近自然</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-success btn-block">锻炼健身</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-info btn-block">聚会交友</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-warning btn-block">美的体验</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-danger btn-block">观察学习</button>
				</li>
			</ul>
			<ul class="list-unstyled list-inline lis" id="lis3">
			<li class="text-center">
					<button type="button" class="btn btn-primary btn-block">增加硬件空间</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-success btn-block">增加绿色空间</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-info btn-block">改善步行系统</button>
				</li>
				<li class="text-center">
					<button type="button" class="btn btn-warning btn-block">改善公共交通</button>
				</li>
				<li class="text-center">
					<ul class="list-inline">
						<li><button type="button" class="btn btn-danger btn-block" id="addwordtag" disabled="true" style="width:40px;">增加:</button></li>
						<li><input type="text" style="width:60px;" id="facilityinput"></input></li>
					</ul>
				</li>
			</ul>
			</div>
				<img src="/imgs/map1.png" class="img-rounded img-responsive" id="commentmap">
			</div>
		</div>
	</div>
</div>