<link rel="stylesheet" href="../css/item.css"></link>
<script type="text/javascript" src="../libs/jquery-2.1.4/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../libs/bootstrap-3.3.5/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="../css/common.css"></link>

<script type="text/javascript">
	console.log("ItemHTML.script IS BEEN RUN");

	var JsonSEND = JSON.stringify( {"username": "Banzao", "locationName": "shanghai"});  
 	var JsonGET = JSON.parse('[{"id" : 1,"name": "迪士尼", "averageRating": 52.6,"collect" : 80,"footstep" : 258,"wanted" : 120,"recommend" : 520},{"id" : 2,"name": "外滩", "averageRating": 58.6,"collect" : 80,"footstep" : 258,"wanted" : 120,"recommend" : 520},{"id" : 3,"name": "WallStreet", "averageRating": 22.6,"collect" : 80,"footstep" : 258,"wanted" : 120,"recommend" : 520}, {"id" : 4,"name": "复旦大学", "averageRating": 99.1,"collect" : 80,"footstep" : 258,"wanted" : 120,"recommend" : 520}]');  
	var RatingKey = 'averageRating';
 	var locationlist;
 	var locationNow;

 	//var username="Banzhao";
 	var username=window.sessionStorage.username;
 	function BEENCLICK(itemBeenClicked){
 		nowItem=itemBeenClicked;

 	 	//var username="Banzhao";
 	 	var username=window.sessionStorage.username;
 		//var ClickSendHistory=JSON.parse('{"username":"'+ username+'", "itemid" : '+itemBeenClicked+'}');
 		var data = {};
 		data["username"] = username;
 		data["itemid"] = itemBeenClicked;
 		
		//console.log("POSTING /sendSearchHistory/" );
		//console.log(ClickSendHistory);
	 	$.ajax({
	 		type:"POST",
	 		contentType : 'application/json',
	 		url:"/sendSearchHistory",
	 		dataType:"json",
	 		data: JSON.stringify(data),
	 	    success : function(data) {  
	 	  		console.log(data);
	 	     },  
	 	    error : function() {  
	      		//alert('HistorySend Err...');  
	 	    }
	 	});
 		
 	}
 	
	function itemShow_item(iRatingkey){ 
		$("#itembar_i").empty();
		//var username ="Banzhao";
		var username= window.sessionStorage.username;
		var JsonSEND = JSON.stringify( {"username": username});  
	 	
		console.log("POSTING /gitList/"+iRatingkey);
		console.log(JsonSEND);
	 	$.ajax({
	 		type:"POST",
	 		contentType : 'application/json',
	 		url:"/getAllItemList/"+iRatingkey,
	 		dataType:"json",
	 		data:JsonSEND,
	 	    success : function(data) {  
	 	  		console.log(data);
	 	  		JsonGET=data;
	 	  		
	 	  		$("#itembar_i").empty();
	 	  	 for(var i=0,l=JsonGET.length;i<l;i++){  

	 	  	 	 $("#itembar_i").append('<li class="list-group-item" id='+JsonGET[i]["id"]+'><a href="#/iteminfo?itemid='+JsonGET[i]["id"]+'" onclick="BEENCLICK('+JsonGET[i]["id"]+')"><span class="badge pull-right">'+ iRatingkey+':'+JsonGET[i][iRatingkey]+'</span>'+JsonGET[i]["name"]+'</a></li>');

	 	  	 	   }
	 	  		if (inputSearch != $("#searchinput").val()){
	 	  	 	itemShowByKey(inputSearch,iRatingkey);
	 	  		}
	 	     },  
	 	    error : function() {  
	      		alert('Err...');  
	 	    }
	 	});
		

	

	}  
	
	
	function itemShowByKey(key,Ratingkey){
		if (key == "") {
			itemShow_item(RatingKey);
			return;
		} 
		$("#itembar_i").empty();
		var name;
	 	for(var i=0,l=JsonGET.length;i<l;i++){  
	 		name=JsonGET[i]["name"];
			console.log('\nsearch item'+name+" with key :"+ key);
	 		if (name.indexOf(key) != -1){
	 			console.log('\nsearch item'+name+'get');
	 	 		$("#itembar_i").append('<li class="list-group-item" id='+JsonGET[i]["id"]+'><a href="#/iteminfo?itemid='+JsonGET[i]["id"]+'" onclick="BEENCLICK('+JsonGET[i]["id"]+')"><span class="badge pull-right">'+ Ratingkey+':'+ JsonGET[i][Ratingkey]+'</span>'+JsonGET[i]["name"]+'</a></li>');
			}
	 	}
	 	inputSearch = key;
		
	}





	
	itemShow_item('averageRating');

//	locationlist = getLocations();



	$('#searchinput').bind('input propertychange', function() {  
		inputSearch=$("#searchinput").val()
    itemShowByKey($("#searchinput").val(),RatingKey);
}); 

	
	$("#PINGFEN").click(function(){

		itemShow_item('averageRating');
		RatingKey='averageRating';
	});
	  
	  $("#SHOUCANG").click(function(){

			itemShow_item('collect');
			RatingKey='collect';
	  }); 
	  
	  
	  
	  $("#ZUJI").click(function(){
			itemShow_item('footstep');
			RatingKey='footstep';
	  });   
	  
	  $("#XINGYUAN").click(function(){
			itemShow_item('wanted');
			RatingKey='wanted';
	  }); 
	  
	  $("#TUIJIAN").click(function(){
			itemShow_item('recommend');
			RatingKey='recommend';
	  }); 
	  
	  

</script>



<div class="panel panel-default" id = "itemdiv">





<div class="row" >
         <div class="col-lg-6 pull-right">
            <div class="input-group">
               <input type="text" class="form-control" id="searchinput">
               <span class="input-group-btn">
               </span>
            </div><!-- /input-group -->
         </div>
   </div>

<br>


<ul class="list-group" id="itembar_i">

</ul>

<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">随评</a>
   </div>
   <div>
      <ul id="navbar" class="nav navbar-nav">
        <li id="PINGFEN" ><a href="">评分</a></li>
        <li id="SHOUCANG"><a href="">收藏</a></li>
		<li id="ZUJI"><a href="">足迹</a></li>
      	<li id="XINGYUAN"><a href="">心愿</a></li>
      	<li id="TUIJIAN"><a href="">推荐</a></li>
      </ul>
   </div>   
</nav>

</div>