
<meta charset="utf-8"/>  
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/libs/jquery-2.1.4/jquery-2.1.4.min.js"></script>
<script> 
flag=0;
function loadScript()
{
 if (window.sessionStorage.username!=null)
  {
    document.getElementById("currentusername").innerHTML=window.sessionStorage.username;
    //document.getElementById("myphoto").src = "/getImage/"+username;
    document.getElementById("loginbutton").style.visibility="hidden";
    document.getElementById("registerbutton").style.visibility="hidden";
    document.getElementById("git").style.visibility="hidden";
  }
  document.getElementById("register").style.visibility="hidden";
  document.getElementById('confirmloginbutton').style.visibility="hidden";
  document.getElementById('logoutbutton').style.visibility="hidden";
}
window.onload = loadScript;
function loginandregisterDIV()
{
    if(flag==0)
    {		
        document.getElementById("login").style.visibility="hidden";
        document.getElementById("loginbutton").value="返回";
        document.getElementById("registerbutton").value="确认注册";
        document.getElementById("register").style.visibility="";
        document.getElementById('confirmloginbutton').style.visibility="hidden";
        document.getElementById("git").style.visibility="hidden";
        flag=1;//到达注册页面
    }
    else
    {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        if 	((username!="")&&(password!=""))
        addUser(username,password);
        else{
        	alert("账号/密码不得为空！");
        }
        document.getElementById("register").style.visibility="hidden";
        document.getElementById("loginbutton").value="登陆";
        document.getElementById("login").style.visibility="";
        document.getElementById("registerbutton").value="注册";
        document.getElementById("git").style.visibility="";
        flag=0;//完成注册，到达登录页面   
    }
}
function addUser(username,password)
{
	
	var data = {};
	data["username"] = username;
	data["password"] = password;
	
   $.ajax( {
        contentType: "application/json",
        url:'/register',
        data:JSON.stringify(data),
        type:'POST',
        dataType:'json',
        success:function(data) {
       
          if (data.status==1)
            {alert("注册成功!");}
          else{alert("该用户已被占用！")}
        }
    });
}
function loginorback()
{
    //按的是登陆，准备发送数据
    if(flag==0)
    {
        document.getElementById("login").style.visibility="hidden";
        document.getElementById("loginbutton").value="返回";
        document.getElementById("register").style.visibility="";
        document.getElementById("registerbutton").style.visibility="hidden";
        document.getElementById("confirmloginbutton").style.visibility="";
        document.getElementById("git").style.visibility="hidden";
        flag=1;

    }
    //按的是返回，直接返回
    else
    {
        document.getElementById("register").style.visibility="hidden";
        document.getElementById("loginbutton").value="登陆";
        document.getElementById("login").style.visibility="";
        document.getElementById("registerbutton").style.visibility="";
        document.getElementById("confirmloginbutton").style.visibility="";
        document.getElementById("registerbutton").value="注册";
        document.getElementById("git").style.visibility="";
        flag=0;//完成注册，到达登录页面   
    }
}
function confirmlogin()
{
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        login(username,password);
        document.getElementById("register").style.visibility="hidden";
        document.getElementById("loginbutton").value="登陆";
        document.getElementById("login").style.visibility="";
        document.getElementById("registerbutton").style.visibility="";
        document.getElementById("confirmloginbutton").style.visibility="";
        flag=0;//完成登陆，判断是否正确   
     
}
function login(username,password)
{
   var data = {};
   data["username"] = username;
   data["password"] = password;
   $.ajax({
        contentType: "application/json",
        url:'/login',
        data:JSON.stringify(data),
        type:'POST',
        cache:false, dataType:'json',
        success:function(data) {      
            if (data.status==1){
            alert('登录成功')
            changename(username,data.src);
            document.getElementById("myphoto").src = "/getImage/"+username;
            //document.getElementById("uploadimage").style.visibility="";
        }else if(data.status==0){
            alert('无此用户');
        }else if(data.status==-1){
            alert('密码错误')
        }
    }
    });
}
function changename(username,image)
{
  window.sessionStorage.username = username;
  //getElementById("myphoto").src=image;
  document.getElementById("currentusername").innerHTML=username;
  document.getElementById("loginbutton").style.visibility='hidden';
  document.getElementById("registerbutton").style.visibility='hidden';
  document.getElementById("logoutbutton").style.visibility='';
}
function logout()
{
  window.sessionStorage.username = null;
  document.getElementById("myphoto").src="/imgs/beforelogin.jpg";
  document.getElementById("currentusername").innerHTML="未登录";
  document.getElementById("loginbutton").style.visibility='';
  document.getElementById("registerbutton").style.visibility='';
  document.getElementById("logoutbutton").style.visibility='hidden';
}

function changeimage(input)
{
	//alert(input.files);
	if(input.files[0]){
		var reader = new FileReader();
		 reader.onload = function (e) {
             $('#myphoto')
                 .attr('src', e.target.result)
                 .width(100)
                 .height(100);
             
            var data = {};
            data["username"] = window.sessionStorage.username;
            data["filename"] = input.files[0].name;
            data["data"] = e.target.result;
            $.ajax({
            	contentType: "application/json",
            	url:"/addImage",
            	type:"POST",
            	data:JSON.stringify(data),
            	success:function(data) {
            		alert(data);	 
            	}
            })
		 }
		 reader.readAsDataURL(input.files[0]);
	}
}

function getcode()
{

    if (window.location.search=='')
	window.location.href="https://github.com/login/oauth/authorize?client_id=0f1fa28b5e41de6d3b4f&state=xxx&redirect_uri=http://localhost:8080/map/resources/static/templates/htmls/Mine.html";
    else
    	{
        var str=window.location.search;
        var code=str.substring(6,26);
        alert(code);
        var newurl="https://github.com/login/oauth/access_token?client_id=0f1fa28b5e41de6d3b4f&client_secret=80e773eb46bed88e61b349bc8f48539124c2261d&code="+code+"&redirect_uri=http://localhost:8080/map/resources/static/templates/htmls/Mine.html";
        alert(newurl);
        window.location.href=newurl;
    	}
}
function getgitID()
{
	var token=document.getElementById("token").value;
	var url = "https://api.github.com/user?access_token="+token;
	 $.ajax( {
	        url:url,
	        data:{
	        },
	        type:'GET',
	        cache:false, dataType:'json',
	        success:function(data) {
	           console.log(data); 
	           exsitence(data.login);
	        }
	    });
}
function exisitence(username)
{
   var data = {};
   data["username"] = username;
   $.ajax({
        contentType: "application/json",
        url:'/exsitence',
        data:JSON.stringify(data),
        type:'POST',
        cache:false, dataType:'json',
        success:function(data) {      
            if (data.status==1){
            alert('登录成功')
            changename(username,data.src);
            document.getElementById("myphoto").src = "/getImage/"+username;
            window.sessionStorage.username=username;
            document.getElementById("currentusername").innerHTML=window.sessionStorage.username;
            document.getElementById("loginbutton").style.visibility='hidden';
            document.getElementById("registerbutton").style.visibility='hidden';
            document.getElementById("logoutbutton").style.visibility='';
        }else if(data.status==0){
            alert('登陆成功（新用户）');
            changename(username,data.src);
            document.getElementById("myphoto").src = "./beforelogin.jpg";
            window.sessionStorage.username=username;
            document.getElementById("currentusername").innerHTML=window.sessionStorage.username;
            document.getElementById("loginbutton").style.visibility='hidden';
            document.getElementById("registerbutton").style.visibility='hidden';
            document.getElementById("logoutbutton").style.visibility='';
        }
    }
    });
}
</script>

 <div class="container-fluid panel panel-default text-center" id="myinfo" style="height:470px;">
	<div class="row-fluid">
		<div class="span5 col-xs-5 well" style="margin:20px;height:auto">
		<img id="myphoto" class="img-circle" src="imgs/beforelogin.jpg" height="100" width="100">
   
      <div class="my-div">
        <p id='currentusername'>未登录</p>
        <nobr>
        <input type='button' class="button btn-primary" id ='registerbutton' onclick="loginandregisterDIV()" value='注册'></input>
        <input type='button' class="button btn-primary" id='loginbutton' value='登陆' onclick='loginorback()'></input>
          <input type='button' class="button btn-primary" id='logoutbutton' value='登出' onclick='logout()'></input>
          
        <input id="myphoto" type="file" accept="image/*" onchange="changeimage(this)">
        <nobr>
      </div>
      <div id='git'>
        <input type='button' value='获取第三方验证码' onclick="getcode()"></input>
        <input type='button' value='GIT登陆' onclick="getgitID()"></input>
        <input id='token' placeholder='验证码'></input>
      </div>
        <div id="register">
        <div id="newusernamediv" style="margin:10px;">
          	<input id="username" class="form-control" value="用户名"></input>
        </div>
        <div id="newpassworddiv" style="margin:10px;">
          	<input id="password" class="form-control" value="密码"></input>
        </div>
          <button id='confirmloginbutton' class="btn-primary" onclick='confirmlogin()'>确认登陆</button>
      </div>
		</div>
		<div class="span5 col-xs-5 well pull-right"  style="margin:20px;height:425px;">
		<div id="login">  
        <div class="my-div" style="margin:20px">
          <button class="longbutton btn-block btn-primary">足迹</button>
        </div>
        <div class="my-div" style="margin:20px">
          <button class="longbutton btn-block btn-primary">心愿单</button>
        </div>
        <div class="my-div" style="margin:20px">
          <button class="longbutton btn-block btn-primary">收藏</button>
        </div>
        <div class="my-div" style="margin:20px">
          <button class="longbutton btn-block btn-primary">分享</button>
        </div>
        <div class="my-div" style="margin:20px">
          <button class="longbutton btn-block btn-primary">关于我们</button>
        </div>
      </div>
		</div>
	</div>
</div>
      