
<nav class="navbar navbar-default" role="navigation" id="fromtopanel">
	<div class="navbar-header">
		<a class="navbar-brand">搜索路径</a>
	</div>
	<div>
		<form class="navbar-form" role="search">
			<div class="form-group">
				<input type="text" class="form-control search-query"
					placeholder="From" id="fromInput">
			</div>
			<span class="glyphicon glyphicon-chevron-right"></span>
			<div class="form-group">
				<input type="text" class="form-control search-query"
					placeholder="To" id="toInput">
			</div>
			<button type="submit" class="btn btn-default pull-right" id="submitFindWay">搜索</button>
		</form>
	</div>
</nav>
